{% extends "base.html" %}

{% block content %}

    <div class="columns is-multiline">
        {% for gym in gyms %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <div class="media-content">
                            <p class="title is-4">
                                {{ gym.name }}
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{% url 'gym_detail' gym.slug %}" class="card-footer-item">View</a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
    <h1>Welcome to Climbing Partner Finder</h1>
{% endblock %} 